<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tustcs.matrix.dao.ContestProblemMapper" >
  <resultMap id="BaseResultMap" type="com.tustcs.matrix.entity.ContestProblem" >
    <result column="problem_id" property="problemId" jdbcType="INTEGER" />
    <result column="contest_id" property="contestId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="CHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.tustcs.matrix.entity.ContestProblem" >
    insert into contest_problem (problem_id, contest_id, title, 
      num)
    values (#{problemId,jdbcType=INTEGER}, #{contestId,jdbcType=INTEGER}, #{title,jdbcType=CHAR}, 
      #{num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tustcs.matrix.entity.ContestProblem" >
    insert into contest_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="problemId != null" >
        problem_id,
      </if>
      <if test="contestId != null" >
        contest_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="num != null" >
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="problemId != null" >
        #{problemId,jdbcType=INTEGER},
      </if>
      <if test="contestId != null" >
        #{contestId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=CHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectProblemId" resultType="java.lang.Integer">
    SELECT problem_id
    from contest_problem
    where contest_id=#{contestId}
  </select>
</mapper>