<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tustcs.matrix.dao.ContestMapper" >
  <resultMap id="BaseResultMap" type="com.tustcs.matrix.entity.Contest" >
    <id column="contest_id" property="contestId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="defunct" property="defunct" jdbcType="CHAR" />
    <result column="private" property="privateFlag" jdbcType="TINYINT" />
    <result column="langmask" property="langmask" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="enroll_num" property="enrollNum" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.tustcs.matrix.entity.Contest" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    contest_id, title, start_time, end_time,  enroll_num,delete_flag,password,langmask,
    defunct,private
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from contest
    where contest_id = #{contestId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from contest
    where contest_id = #{contestId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tustcs.matrix.entity.Contest" >
    insert into contest ( title, start_time,
      end_time, defunct, private,
      langmask, password, enroll_num, 
      delete_flag, description)
    values ( #{title,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP},'N', #{privateFlag},
      262132, #{password,jdbcType=CHAR}, 0,
      0, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="contestId" parameterType="com.tustcs.matrix.entity.Contest" >
    insert into contest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contestId != null" >
        contest_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="defunct != null" >
        defunct,
      </if>
      <if test="privateFlag != null" >
        privateFlag,
      </if>
      <if test="langmask != null" >
        langmask,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="enrollNum != null" >
        enroll_num,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contestId != null" >
        #{contestId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="defunct != null" >
        #{defunct,jdbcType=CHAR},
      </if>
      <if test="privateFlag != null" >
        #{privateFlag,jdbcType=TINYINT},
      </if>
      <if test="langmask != null" >
        #{langmask,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="enrollNum != null" >
        #{enrollNum,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tustcs.matrix.entity.Contest" >
    update contest
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="defunct != null" >
        defunct = #{defunct,jdbcType=CHAR},
      </if>
      <if test="privateFlag != null" >
        private = #{privateFlag,jdbcType=TINYINT},
      </if>
      <if test="langmask != null" >
        langmask = #{langmask,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="enrollNum != null" >
        enroll_num = #{enrollNum,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where contest_id = #{contestId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tustcs.matrix.entity.Contest" >
    update contest
    set title = #{title,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      defunct = #{defunct,jdbcType=CHAR},
      private = #{privateFlag,jdbcType=TINYINT},
      langmask = #{langmask,jdbcType=INTEGER},
      password = #{password,jdbcType=CHAR},
      enroll_num = #{enrollNum,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where contest_id = #{contestId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tustcs.matrix.entity.Contest" >
    update contest
    set title = #{title,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      defunct = #{defunct,jdbcType=CHAR},
      private = #{privateFlag,jdbcType=TINYINT},
      langmask = #{langmask,jdbcType=INTEGER},
      password = #{password,jdbcType=CHAR},
      enroll_num = #{enrollNum,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where contest_id = #{contestId,jdbcType=INTEGER}
  </update>

  <select id="selectContestList" parameterType="com.tustcs.matrix.entity.Contest" resultType="Contest">
    select *from contest
    where delete_flag=0
    limit #{startPos},#{pageSize}
  </select>

  <select id="selectContestCount" resultType="Integer">
    select COUNT(*)
    from contest
    where delete_flag=0
  </select>

  <select id="selectByTitle" parameterType="com.tustcs.matrix.entity.Contest" resultType="Contest">
    select *from contest
    where title like '%${title}%'
    and delete_flag=0
    limit #{startPos},#{pageSize}
  </select>

  <select id="selectContestCountUsingTitle" resultType="Integer">
    select COUNT(*)
    from contest
    where title like '%${title}%'
    and delete_flag=0
  </select>

  <!--添加contest的列表查询-->
  <select id="listContest" parameterType="java.util.List" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    FROM contest
    WHERE delete_flag=0 and contest_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item.contestId}
    </foreach>

  </select>

  <update id="updateEnrollNum">
    update contest
    set enroll_num=enroll_num+1
    where contest_id=#{contestId}
  </update>

</mapper>