<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tustcs.matrix.dao.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.tustcs.matrix.entity.News" >
    <id column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_top" property="isTop" jdbcType="INTEGER" />
    <result column="is_report" property="isReport" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tustcs.matrix.entity.News" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    news_id, title, pic_url, user_id, is_top, is_report, delete_flag, weight, add_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where news_id = #{newsId,jdbcType=INTEGER}
    and delete_flag=0

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tustcs.matrix.entity.News" >
    insert into news ( title, pic_url,
      user_id, is_top, is_report, 
      delete_flag, weight, add_time, 
      content)
    values ( #{title,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR},
      #{userId,jdbcType=VARCHAR}, #{isTop,jdbcType=INTEGER},0,
     0, #{weight,jdbcType=INTEGER}, #{addTime,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tustcs.matrix.entity.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="isReport != null" >
        is_report,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isReport != null" >
        #{isReport,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tustcs.matrix.entity.News" >
    update news
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isReport != null" >
        is_report = #{isReport,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tustcs.matrix.entity.News" >
    update news
    set title = #{title,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_top = #{isTop,jdbcType=INTEGER},
      is_report = #{isReport,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tustcs.matrix.entity.News" >
    update news
    set title = #{title,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_top = #{isTop,jdbcType=INTEGER},
      is_report = #{isReport,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>

  <select id="selectNewsList" parameterType="com.tustcs.matrix.entity.News" resultType="News">
    select *from news
    where delete_flag=0
    order by is_top desc, add_time  desc
    limit #{startPos},#{pageSize}
  </select>

  <select id="selectNewsCount" resultType="Integer">
    select count(*)
    from news
    where delete_flag=0
  </select>

  <select id="selectByTitle" parameterType="com.tustcs.matrix.entity.News" resultType="News">
    select *from news
    where title like '%${title}%'
    and delete_flag=0
    order by is_top desc, add_time  desc
  </select>

  <select id="selectNewsCountUsingTitle" resultType="Integer">
    select count(*)
    from news
    where title like '%${title}%'
    and delete_flag=0
  </select>
</mapper>